/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .bodycont{
     margin-top: 70px;
     font-family: 'Open Sans', sans-serif;
 }

 input {
    border: 1px solid #bbb;
   
    margin-bottom: 15px;
    
    }
input {
    height: auto !important;
    }
    aside {
        
        margin-top: 20px;
        }
        section {
        padding: 10px 0;
        margin-top: 20px;
        
        border: 0;
        padding-top: 0;
}

h1 {

text-align: left;
letter-spacing: -1px;
margin-bottom: 3px;
margin-top: 0px;
}

span {
    display: block;
    margin-bottom: 3px;
    margin-left: 20px;
    line-height: 1;
    }


    
.gravatar {
float: left;
margin-right: 10px;
}
.gravatar_edit {
margin-top: 15px;
}


.editbtn{
    margin-left: 480px;
    width: 72px;
}
.deletebtn{
    margin-left: 593px;
    margin-top: -56px;
    width: 72px;
}

.commentbtn input[type="submit"]{
    width: 134px;
}

.welcome{
    margin-top: 15px;
} 

.imagefile{
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert{
    margin-top: 55px;
}

.btnnew{
    margin-bottom: 50px;
}

.index{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #ebeced;
}


.content{
    margin: 30px 30px 0px 30px;
}

.indexh1{
    margin-bottom: -41px;
    font-size: 60px;
}

.comment{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 25px;
}

.commentcontent{
    margin: 20px 25px 20px 25px;

}

.followbtn{
    margin-top: -162px;
    margin-left: 231px;
}

.unfollowbtn{
    margin-top: -162px;
    margin-left: 270px;
}